.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.numberFormat {
  font-size: 30px;
  font-weight: 100;
  color: rgb(12, 12, 182);
}
.button {
  background-color: white;
  border-radius: 10px;
  border: 1px  black solid ;
  margin-left: 20px !important;
}
